<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Akrams Lesson Store</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

<div id="app">
    <!-- Shopping Cart Button: Disabled when cart is empty -->
    <div>
      <button
        v-on:click="showCart"
      :disabled="cart.length === 0">
        Cart ({{ cart.length }})
      </button>
    </div>

<div v-if="showLessons">
<h1> Lessons Available </h1>

<div v-for="lesson in lessons" :key="lesson.id">
  <i :class="lesson.icon"></i>
  <p>Subject: {{ lesson.subject }}</p>
  <p>Location:{{ lesson.location }}</p>
  <p>Price: {{ lesson.price }}</p>
  <p>Spaces: {{ lesson.spaces }}</p>

  <button
   v-on:click="addToCart(lesson)"
   :disabled="lesson.spaces === 0">
    Add to Cart
  </button>
  <hr>
</div>
</div>

<div v-else>
    <h1> Shopping cart</h1>

    <div v-if="cart.length === 0">
        <p>Your cart is empty.</p>
    </div>

    <!-- Display the items that are in the cart -->
    <div v-for="(item,index) in cart" :key="index">
        <p>Subject: {{ item.subject }}</p>
        <p>Location: {{ item.location }}</p>
        <p>Price: {{ item.price }}</p>
        <button v-on:click="removeFromCart(item,index)">Remove</button>
        <hr>
    </div>

    <h2>Checkout</h2>
    <p>
        <label>Name:</label>
        <input type="text" v-model.trim="order.name" placeholder="Enter your name">
        </p>
        <p>
            <label>Phone:</label>
            <input type="text" v-model.trim="order.phone" placeholder="Enter your phone number">
        </p>

        <button
         v-on:click="submitCheckout"
         :disabled="!isCheckoutFormValid">
         Checkout
    </button>
</div>
</div>

<!-- Vue js -->
<script>
    new Vue({
        el: '#app',
        data: {
            showLessons: true, //determines which page is displayed
            cart: [],
            order: {
                name: '',
                phone: ''
            },
            lessons: [
                {
                    id: 1,
                    subject: 'English',
                    location: 'London',
                    price: 50,
                    spaces: 5,
                },
                {
                    id: 2,
                    subject: 'Religious Studies',
                    location: 'Manchester',
                    price: 40,
                    spaces: 5,
                },
                {
                    id: 3,
                    subject: 'Science',
                    location: 'Liverpool',
                    price: 60,
                    spaces: 5,

                }
            ]
        },
        computed: {
            isCheckoutFormValid() {
                return this.order.name !== '' && this.order.phone !== '';
            }
        },
        methods: {
            addToCart(lesson) {
                if (lesson.spaces > 0) {
                    this.cart.push(lesson);
                    lesson.spaces--;
                }
            },
            showCart() {
                this.showLessons = !this.showLessons;
            },
            removeFromCart(item, index){
                this.cart.splice(index, 1);
                item.spaces++;
                if (this.cart.length === 0){
                    this.showLessons = true;
                }
            },

            submitCheckout(){
                alert('Order submitted successfully!');
                this.cart= [];
                this.order.name= '';
                this.order.phone= '';
                this.showLessons = true;
            }

        }
    })
</script>
</body>
</html>
